<div class="content">
  <div class="section section__1">
      <span class="section_title">
        <h2>
          <a href="#" class="link" routerLink="/wedding-gallery" routerLinkActive="active">Weddings</a>
        <br/> 
        <a href="#" class="link">Engagments </a>
        <br/>
        <a href="#" class="link">Events</a>
        </h2> 
      </span>
  </div>
  <div class="section section__2"> 
        <span class="section_title">
          <h2>
            <a href="#" class="link">Headshots</a>
          <br/> 
          <a href="#" class="link">Portraits </a>
          <br/>
          <a href="#" class="link">Family</a>
          </h2> 
        </span>
  </div>
  <div class="section section__3">
    <span class="section_title">
      <h2>
        <a href="#" class="link">Studio</a>
      <br/> 
      <a href="#" class="link">Product </a>
      </h2> 
    </span>
  </div>
  <div class="section section__4">

    <span class="section_title">
      <h2>
        <a href="#" class="link">Real Estate</a>
      <br/> 
      <a href="#" class="link">Architectural </a>
      <br/>
      <a href="#" class="link">Commercial</a>
      </h2> 
    </span>
  </div>  
  <div class="section section__5">

    <span class="section_title">
      <h2>
        <a href="#" class="link">Personal </a>
        <br/>
        <a href="#" class="link">Landscapes</a>
      <br/> 
      <a href="#" class="link">Automotive</a>
      </h2> 
    </span>
  </div>  
  </div>