<div class="content">
  <div class="section section__1">
    <div class="section_gradient">
    <div class="section_container">
    <span class="section_heading">
      <a href="#" class="link" routerLink="/events" routerLinkActive="active"><h1>EVENTS</h1></a>
    </span>
   
      <span class="section_title">
        <h2>
          <a href="#" class="link" routerLink="/wedding-gallery" routerLinkActive="active">Weddings</a>
        <br/> 
        <a href="#" class="link">Engagments </a>
        <br/>
        <a href="#" class="link">Corporate</a>
        </h2> 
      </span>
    </div>
  </div>
  </div>
  <div class="section section__2"> 
    <div class="section_gradient">
    <div class="section_container">
        <span class="section_heading">
          <a href="#" class="link" routerLink="/portraits" routerLinkActive="active"> <h1>PORTRAITS</h1></a>
        </span>

        <span class="section_title">
          <h2>
            <a href="#" class="link"  routerLink="/headshots" routerLinkActive="active">Headshots</a>
          <br/> 
          <a href="#" class="link" routerLink="/senior" routerLinkActive="active">Seniors </a>
          <br/>
          <a href="#" class="link" routerLink="/family" routerLinkActive="active">Family</a>
          </h2> 
        </span>
      </div>
    </div>
  </div>
  <div class="section section__3">
    <div class="section_gradient">
    <div class="section_container">
      <span class="section_heading">
        <a href="#" class="link"><h1>Studio</h1></a>
      </span>
    <span class="section_title">
      <h2>
        <a href="#" class="link" routerLink="/studio" routerLinkActive="active">Studio</a>
      <br/> 
      <a href="#" class="link" routerLink="/product" routerLinkActive="active">Product </a>
      <br/> 
      <br/> 
      </h2> 
    </span>
    </div>
    </div>
  </div>
  <div class="section section__4">
    <div class="section_gradient">
    <div class="section_container">
      <span class="section_heading">
        <a href="#" class="link" routerLink="/architecture" routerLinkActive="active"><h1>Architecture</h1></a>
      </span>
    <span class="section_title">
      <h2>
        <a href="#" class="link" routerLink="/real-estate" routerLinkActive="active">Real Estate</a>
      <br/> 
      <a href="#" class="link">Design </a>
      <br/>
      <a href="#" class="link" routerLink="/commercial" routerLinkActive="active">Commercial</a>
      </h2> 
    </span>
    </div>
</div>
  </div>  
  <div class="section section__5">
    <div class="section_gradient">
<div class="section_container">
      <span class="section_heading">
        <a href="#" class="link" routerLink="/personal" routerLinkActive="active"><h1>Personal</h1></a>
      </span>
    <span class="section_title">
      <h2>
        <a href="#" class="link">Personal </a>
        <br/>
        <a href="#" class="link" routerLink="/landscapes" routerLinkActive="active">Landscapes</a>
      <br/> 
      <a href="#" class="link"routerLink="/automotive" routerLinkActive="active">Automotive</a>
      </h2> 
    </span>
  </div>  
    </div>
  </div>
  </div>