@import "/src/styles.scss";

.content{
    // height: 200vh;
    // background-image: url(http://source.unsplash.com/2048x1024/?cars);
    // position: relative;
     //display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    // background-color: hsl(var(--clr-dark));
    // background-blend-mode: multiply;
    // background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100vw;
    height: 100vh;
}

.section_title {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.section{
    background: #888;
    background-size: cover;
    background-position: center center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    flex-direction: row;
    background-blend-mode: multiply;
    transition-duration: 500ms;
    transition-property: width;
    width: 25vw;
  //height: 200px;
}

.section__1{
    background-image: url("../../assets/images/wedding-portfolio/MKY01004-Edit.jpg");

}

.section__2{
    background-image: url("../../assets/images/headshots/MKY08729-Edit.jpg");
}

.section__3{
    background-image: url("../../assets/images/real-estate/DJI_0789.jpg");
}

.section__4{
    background-image: url(http://source.unsplash.com/2048x1024/?cars);
}

.section:hover{
    transform-origin: left;
    width: 100% !important;
    width: 100vw;
    transition-timing-function: ease-in-out;
    background-blend-mode: normal;

}


.link {
    color: hsl(var(--clr-white));
    text-decoration: none;
    position: relative;
  }
  
  .link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: hsl(var(--clr-white));
    transform: scaleX(0);
    transform-origin: right;
    transition:transform 250ms ease-in;
  }
  
  .link:hover::after{
      transform:scaleX(1);
      transform-origin:left;
  }
  