@import "/src/styles.scss";

.content{
    height: 200vh;
    background-image: url(http://source.unsplash.com/2048x1024/?cars);
    background-color: hsl(var(--clr-dark));
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
   
}