<div class="mainImageContainer">
    <!-- <img src="../../../assets/images/portraits/MKY_7050-Edit-bw.jpg"> -->
    <h1 class="imageCoverTitle"> Portraits</h1>
</div>



<p>Getting professional senior portraits done can be a special and memorable experience for several reasons:

    Commemoration of a milestone: Senior year is a significant milestone in a student's life, and getting professional portraits taken can help commemorate this important moment in time. Senior portraits are a way to capture and preserve memories of this special time in your life.
    
    Timeless keepsake: Senior portraits are not just for the present but also serve as a timeless keepsake that you and your family can cherish for years to come. They can be passed down to future generations and serve as a way to remember your youth and personality at this stage in your life.
    
    Professional quality: Professional photographers have the expertise, equipment, and lighting to capture high-quality images that are visually appealing and represent you in the best possible way. They can also guide you in terms of posing, wardrobe, and location selection to ensure your photos are stunning.
    
    Boost self-confidence: Senior portraits can help boost your self-confidence by allowing you to express yourself and capture your personality in a way that feels authentic and unique to you. A good senior portrait session can help you feel more comfortable in front of the camera and more confident in yourself.
    
    Social media and college applications: Senior portraits are often used for college applications, social media profiles, and other types of digital media. Having professional senior portraits can help you present a positive, professional image online and make a lasting impression on those who view your profile.
    
    Overall, getting professional senior portraits done is an excellent way to commemorate a significant milestone, capture a timeless keepsake, and boost your confidence. It's an investment in yourself and your future, and one that you'll cherish for years to come.</p>
  

    <header class="page-header">
        <div class="container flow">
          <h1 class="page-title">Horizontal scrolling</h1>
          <p class="page-subtitle">Let's create a horizontal media scroller!</p>
        </div>
      </header>
      <h2 class="section-title">Individual elements</h2>
      
      <div class="media-scroller snaps-inline">
        <div class="media-element">
          <img src="https://images.unsplash.com/photo-1641353989082-9b15fa661805?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400" alt="">
          <p class="title">Short title</p>
        </div>
        <div class="media-element">
          <img src="https://images.unsplash.com/photo-1642190672487-22bde32965f7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400" alt="">
          <p class="title">A longer title here</p>
        </div>
        <div class="media-element">
          <img src="https://images.unsplash.com/photo-1641841344411-49dbd02896f4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400" alt="">
          <p class="title">An even longer title on this one</p>
        </div>
        <div class="media-element">
          <img src="https://images.unsplash.com/photo-1643223723262-7ce785730cf6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400" alt="">
          <p class="title">A dog that's blinking?</p>
        </div>
        <div class="media-element">
          <img src="https://images.unsplash.com/photo-1640938776314-4d303f8a1380?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc2Mw&ixlib=rb-1.2.1&q=80&w=400" alt="">
          <p class="title">Chair</p>
        </div>
        <div class="media-element">
          <img src="https://images.unsplash.com/photo-1641259041823-e09935369105?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc2Mw&ixlib=rb-1.2.1&q=80&w=400" alt="">
          <p class="title">Ut enim ad minim veniam</p>
        </div>
        <div class="media-element">
          <img src="https://images.unsplash.com/photo-1642543492481-44e81e3914a7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc2Mw&ixlib=rb-1.2.1&q=80&w=400" alt="">
          <p class="title">Duis aute irure dolor</p>
        </div>
        <div class="media-element">
          <img src="https://images.unsplash.com/photo-1641118961077-440391095cdc?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc2Mw&ixlib=rb-1.2.1&q=80&w=400" alt="">
          <p class="title">Cillum dolore eu</p>
        </div>
        <div class="media-element">
          <img src="https://images.unsplash.com/photo-1640767014413-b7d27c58b058?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc5NQ&ixlib=rb-1.2.1&q=80&w=400" alt="">
          <p class="title"></p>
        </div>
        <div class="media-element">
          <img src="https://images.unsplash.com/photo-1640948612546-3b9e29c23e98?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc5NQ&ixlib=rb-1.2.1&q=80&w=400" alt="">
          <p class="title">Excepteur sint occaecat cupidatat non proident</p>
        </div>
        <div class="media-element">
          <img src="https://images.unsplash.com/photo-1642484865851-111e68695d71?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc5NQ&ixlib=rb-1.2.1&q=80&w=400" alt="">
          <p class="title">At lectus urnaVestibulum</p>
        </div>
        <div class="media-element">
          <img src="https://images.unsplash.com/photo-1642237778207-24985a0bf876?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc5NQ&ixlib=rb-1.2.1&q=80&w=400" alt="">
          <p class="title">Vestibulum</p>
        </div>
        <div class="media-element">
          <img src="https://images.unsplash.com/photo-1642177584449-fa0b017dccc7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc5NQ&ixlib=rb-1.2.1&q=80&w=400" alt="">
          <p class="title">Adipiscing tristique risus nec feugiat</p>
        </div>
        <div class="media-element">
          <img src="https://images.unsplash.com/photo-1643249960396-d39d2a63ce8a?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODg0Mw&ixlib=rb-1.2.1&q=80&w=400" alt="">
          <p class="title">Rutrum tellus pellentesque eu tincidunt</p>
        </div>
        <div class="media-element">
          <img src="https://images.unsplash.com/photo-1641424222187-1c336d21804c?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODg0OA&ixlib=rb-1.2.1&q=80&w=400" alt="">
          <p class="title">Bibendum enim</p>
        </div>
        <div class="media-element">
          <img src="https://images.unsplash.com/photo-1640998483268-d1faffa789ad?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODkwNA&ixlib=rb-1.2.1&q=80&w=400" alt="">
          <p class="title">Amet commodo</p>
        </div>
        <div class="media-element">
          <img src="https://images.unsplash.com/photo-1642034451735-2a8df1eaa2c0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODg4OQ&ixlib=rb-1.2.1&q=80&w=400" alt="">
          <p class="title">A erat nam at lectus</p>
        </div>
        <div class="media-element">
          <img src="https://images.unsplash.com/photo-1640808238224-5520de93c939?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODg4OQ&ixlib=rb-1.2.1&q=80&w=400" alt="">
          <p class="title">Pellentesque eu tincidunt tortor aliquam nulla</p>
        </div>
        <div class="media-element">
          <img src="https://images.unsplash.com/photo-1643039952431-38adfa91f320?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODg0OA&ixlib=rb-1.2.1&q=80&w=400" alt="">
          <p class="title">Quam adipiscing vitae</p>
        </div>
        <div class="media-element">
          <img src="https://images.unsplash.com/photo-1643148636637-58b3eb95cdad?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODg0OA&ixlib=rb-1.2.1&q=80&w=400" alt="">
          <p class="title">Fermentum</p>
        </div>

        
      </div>
      
     