@import "/src/styles.scss";

.large-button{
    position: relative;
    display: grid;
    z-index: 1;
    place-items: center;
    padding: 0 1em;
    aspect-ratio: 1;
    text-decoration: none;
    border-radius: 50%;

    
}

.large-button::after{
    content: "";
    position: absolute;
    z-index: -1;
    background: hsl(var(--clr-white) / .15);
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
 
}

.large-button:hover::after,
.large-button:focus::after{
    opacity: 1;
    transform: scale(1.5);
}