<header>
    <h1 class="logo"> &lt;click/&gt;</h1>
    <input id="nav-toggle" type="checkbox" class="nav-toggle">
    <nav>
        <ul>
        <li><a href="#" routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a href="#" routerLink="/headshots" routerLinkActive="active">Headshots</a></li>
        <li><a href="#" routerLink="/wedding-gallery" routerLinkActive="active">Weddings</a></li>
        <li><a href="#"routerLink="/real-estate" routerLinkActive="active">Real Estate</a></li>
        <li><a href="#"routerLink="/inquire" routerLinkActive="active">Inquire</a></li>
    </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</header>