@import "/src/styles.scss";

.logo {
  font-family: var(---ff-sans-cond);
  font-size: var(--fs-700);
  color: var(--clr-white);
}

.logo {
  margin: 1.5rem clamp(2.5rem, 6vw, 3.5rem);
}

.primary-header {
  justify-content: space-between;
  align-items: center;
}

.primary-navigation {
  --gap: clamp(1.5rem, 5vw, 4.5rem);
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsl( var(--clr-dark) / 0.95);
  backdrop-filter: blur(1.5rem);
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-right: .5em;
}

@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
      background: hsl( var(--clr-white) / 0.05);
      backdrop-filter: blur(1.5rem);
  }
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 35rem) {
  .primary-navigation {
    --underline-gap: .5rem;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    list-style: none;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
}

.primary-navigation[data-visible="true"] {
    transform: translateX(0);
}

     
  .mobile-nav-toggle {
     display: block;
    position: absolute;
    z-index: 2000;
    right: 1rem;
    top: 2rem;
    background: transparent;
    background-image: url(../../assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
}

  
.mobile-nav-toggle[aria-expanded="true"] {
  background-image: url(../../assets/shared/icon-close.svg);
}

.mobile-nav-toggle:focus-visible {
  outline: 5px solid red;
  outline-offset: 5px;
}
  
  .primary-navigation.underline-indicators > .active {
     border: 0;
  }
}

@media (min-width: 35em) {
  .primary-navigation {
      padding-inline: clamp(3rem, 10vw, 7rem);
  }
}


@media (min-width: 35em) and (max-width: 45em) {
  .primary-navigation {
      padding-inline: 3rem;
  }
  
  .primary-navigation a > span {
      display: none;
  }
}

@media (min-width: 45em) {

//   .primary-header::after {
//     content: '';
//     display: block;
//     position: relative;
//     height: 2px;
//     width: 50%;
//     //margin-right: -2.5rem;
//     background: hsl( var(--clr-white) / .25);
//     order: 1;
// }

// nav {
//    order: 2;
// }


  .primary-navigation {
      margin-block: 2rem;
  }
}



.underline-indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, 1rem) 0;
  border: 0;
  border-bottom: .2rem solid hsl( var(--clr-white) / 0 );
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: hsl( var(--clr-white) / .5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
  color: hsl( var(--clr-white) / 1);
  border-color: hsl( var(--clr-white) / 1); 
}











// header {
//   text-align: center;
//   position: fixed;
//   z-index: 999;
//   width: 100%;
// }

// .numbered-title {
//   font-family: var(--ff-sans-cond);
//   font-size: var(--fs-500);
//   text-transform: uppercase;
//   letter-spacing: 4.72px; 
// }

// .numbered-title span {
//   margin-right: .5em;
//   font-weight: 700;
//   color: hsl( var(--clr-white) / .25);
// }

// .primary-navigation {
//   --gap: 8rem;
//   --underline-gap: 2rem;
//   list-style: none;
//   padding: 0;
//   margin: 0;
// }

// @media (max-width: 35rem) {
//   .primary-navigation {
//       --underline-gap: .5rem;
//       position: fixed;
//       z-index: 1000;
//       inset: 0 0 0 30%;
//       background: black;
//       list-style: none;
//       padding: min(20rem, 15vh) 2rem;
//       margin: 0;
//       flex-direction: column;
//   }
// }

// .primary-navigation.underline-indicators > .active {
//   border: 0;
// }

// .primary-navigation a {
//   text-decoration: none;
// }

// .primary-navigation a > span {
//   font-weight: 700;
//   margin-right: .5em;
// }


// .underline-indicators > * {
//   cursor: pointer;
//   padding: var(--underline-gap, 1rem) 0;
//   border: 0;
//   border-bottom: .2rem solid hsl( var(--clr-white) / 0 );
// }

// .underline-indicators > *:hover,
// .underline-indicators > *:focus {
//   border-color: hsl( var(--clr-white) / .5);
// }

// .underline-indicators > .active,
// .underline-indicators > [aria-selected="true"] {
//   color: hsl( var(--clr-white) / 1);
//   border-color: hsl( var(--clr-white) / 1); 
// }

// .nav-toggle {
//   position: absolute;
//   display: none;
// }

// .nav-toggle-label {
//   position: absolute;
//   top: 0;
//   left: 0;
//   margin-left: 1em;
//   height: 100%;
//   display: flex;
//   align-items: center;
// }

// .nav-toggle-label span,
// .nav-toggle-label span::before,
// .nav-toggle-label span::after {
//   display: block;
//   background: white;
//   height: 2px;
//   width: 2em;
//   border-radius: 2px;
//   position: relative;
// }

// .nav-toggle-label span::before,
// .nav-toggle-label span::after {
//   content: "";
//   position: absolute;
// }

// .nav-toggle-label span::before {
//   bottom: 7px;
// }

// .nav-toggle-label span::after {
//   top: 7px;
// }

// nav {
//   position: relative;
//   text-align: left;
//   top: 100%;
//   left: 0;
//   background: hsl(var(--clr-white) / 0.075);
//   // background: hsl(0 0% 100% / 0.1);
//   width: 100%;
//   transform: scale(1, 0);
//   transform-origin: top;
//   transition: transform 400ms ease-in-out;
//   z-index: 990;
// }

// nav ul {
//   margin: 0;
//   padding: 0;
//   list-style: none;
// }

// nav li {
//   margin-bottom: 1em;
//   margin-left: 1em;
// }

// nav a {
//   color: white;
//   text-decoration: none;
//   font-size: 1.2rem;
//   text-transform: uppercase;
//   opacity: 0;
//   transition: opacity 150ms ease-in-out;
// }

// nav a:hover {
//   color: hsl(var(--clr-white) / 0.5);
// }

// .nav-toggle:checked ~ nav {
//   transform: scale(1, 1);
// }

// .nav-toggle:checked ~ nav a {
//   opacity: 1;
//   transition: opacity 250ms ease-in-out 250ms;
// }



// .numbered-title {
//   font-family: var(--ff-sans-cond);
//   font-size: var(--fs-500);
//   text-transform: uppercase;
//   letter-spacing: 4.72px;
// }

// .numbered-title span {
//   margin-right: 0.5em;
//   font-weight: 700;
//   color: hsl(var(--clr-white) / 0.25);
// }
// /*    show navigation when not on mobile*/
// @media screen and (min-width: 500px) {
//   .nav-toggle-label {
//     display: none;
//   }

//   header {
//     display: grid;
//     grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
//   }

//   .logo {
//     grid-column: 2 / 3;
//   }

//   nav {
//     all: unset;
//     /* this causes issues with Edge, since it's unsupported */

//     /* the following lines are not from my video, but add Edge support */
//     position: relative;
//     text-align: left;
//     transition: none;
//     transform: scale(1, 1);
//     background: none;
//     top: initial;
//     left: initial;
//     /* end Edge support stuff */

//     grid-column: 3 / 4;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
//     align-items: center;
//   }

//   nav ul {
//     display: flex;
//   }

//   nav a {
//     opacity: 1;
//   }
//   nav li {
//     margin-left: 3em;
//     margin-bottom: 0;
//   }

//   nav a {
//     opacity: 1;
//     position: relative;
//   }

//   nav a::before {
//     content: "";
//     display: block;
//     height: 2px;
//     background: hsl(var(--clr-white)/ .5);
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     transform: scale(0, 1);
//     transform: scaleX(0);
//     transform-origin: right;
//     transition:transform 250ms ease-in;
//   }

//   nav a:hover::before {
//     transform:scaleX(1);
//     transform-origin:left;
//   }
// }


// .primary-navigation {
//   --underline-gap: 2rem;
//   list-style: none;
//   padding: 0;
//   margin: 0;
// }



// @media (max-width: 35rem) {
//   .primary-navigation {
//       --underline-gap: 2rem;
//       position: fixed;
//       z-index: 1000;
//       inset: 0 0 0 30%;
//       background: black;
//       list-style: none;
//       padding: min(20rem, 15vh) 2rem;
//       margin: 0;
//       flex-direction: column;
//   }
// }

// .primary-navigation a {
//   text-decoration: none;
// }

// .primary-navigation a > span {
//   font-weight: 700;
//   margin-right: .5em;
// }
