<div class="secondary-portfolio" >
        <div class="card2">
            <div class="card2__title fs-700"><span>RESIDENTAIL</span></div>
        
            <div class="card2__body">
                <ul>
                  <li><a class="link" href="">Full design</a></li>
                  <li><a class="link" href="">Planning </a></li>
                  <li><a class="link" href="">Architectural </a></li>
                  <li><a class="link" href="">Logistics support</a></li>
                  <li><a class="link" href="">Construction services</a></li>
                  <li><a class="link" href="">Custom Remodel</a></li>
                </ul>
              </div>
            </div>

            <div><p>Serving clients clients for apartments, condominiums, townhomes and single family homes.</p>
                <p>Our goal is focusing on clients needs and deliber results on time and on budget.</p></div>
    <!-- <a href="#" class="buttonPortfolio" >PORTFOLIO</a> -->
</div>