
      
        <div class='footer'>
                <div class="footerlink"><a href='mailto:monkifoto@gmail.com' ><i class='fas fa-envelope'></i></a></div>
                <div class="footerlink">  <a href='tel:4253904204' ><i class='fas fa-phone'></i></a></div>
                <div class="footerlink">   <a href='http://www.instagram.com/monkifoto'target='_blank'><i class='fab fa-instagram'></i></a></div>
                <div class="footerlink"> <a href='http://www.facebook.com/monkifoto' target='_blank'><i class='fab fa-facebook-square'></i></a></div>
                <div class="footerlink"> <a href='https://www.youtube.com/channel/UCqT0likujRE4LjRimlbhxfg' target='_blank'><i class='fab fa-youtube'></i></a></div>
                <div class="footerlink"> <a href='https://www.yelp.com/biz/monkifoto-renton' target='_blank'><i class='fab fa-yelp'></i></a></div>
        </div>
        <p style='text-align:center'>Copyright &#169; 2018 - 2022 Seattle Real Estate Photo - All Rights Reserved. Design
                by Alex Bucse.</p>