

<div class="sidebar">
    <h2 class="title-with-border text-accent-400">Personal</h2>
    <ul class="content-snippets">
      <li class="content-snippet">
        <a href="#" class="link">
          <article>
            <img width="100px" height="100px" src="../../assets/images/landscapes/_MKY3213-HDR.jpg" alt="">
            <h3 class="">Landscapes</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quos blanditiis odio enim? Corrupti, nostrum ipsum aliquam molestiae accusamus labore.</p>
          </article>
          <a href="#" class="btn btn--accent"></a>
        </a>
      </li>
      <li class="content-snippet">
        <a href="#" class="link">
          <article>
            <img width="100px" height="100px" src="../../assets/images/landscapes/_MKY3213-HDR.jpg" alt="">
            <h3 class="">Automotive</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint omnis sed sunt et pariatur.</p>
          </article>
          <a href=" #" class="btn btn--accent">
          </a>
        </a>
      </li>
      <li class="content-snippet">
        <a href="#" class="link">
          <article>
            <img width="100px" height="100px" src="../../assets/images/landscapes/_MKY3213-HDR.jpg" alt="">
            <h3 class="">Personal</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, corporis!</p>
          </article>
          <a href=" #" class="btn btn--accent">
          </a>
        </a>
      </li>
    </ul>
  </div>