
<!-- Header -->
<div class="header">
    <h1>Responsive Image Grid</h1>
    <p>Resize the browser window to see the responsive effect.</p>
  </div>
  

  <div class="row">
    <div class="column" *ngFor="let row of wedding">
      <div  *ngFor="let img of row">
       <img  [src]="img" style="width: 100%;" alt=""> 
    </div>
    </div>  
 </div>


  <!-- Photo Grid -->
  <!-- <div class="row"> 
    <div class="column">
      <img src="../../assets/images/wedding-portfolio/EB6I0363.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/EB6I0911-Edit-2.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI06076.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI00179-Edit.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI06044.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKY00891-Edit.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI06728-Edit.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="../../assets/images/wedding-portfolio/MKY00495-Edit.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKY00556-Edit.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI05962-Edit.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI06076.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKY00577-Edit.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI06060-Edit.jpg" style="width:100%">
    </div>  
    <div class="column">
      <img src="../../assets/images/wedding-portfolio/MKY00452.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI05914.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKY00521-Edit.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI06998-Edit.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI06029.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKY00490-Edit.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI00184-Edit-2.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="../../assets/images/wedding-portfolio/MKI06266-Edit-2.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI06075.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKY00946.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKY01034-Edit.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKY00623-Edit.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI06037.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="../../assets/images/wedding-portfolio/MKY00891-Edit.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI06029.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI00207.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI06334.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/EB6I1021-Edit.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI06255.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="../../assets/images/wedding-portfolio/MKY00891-Edit.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI06029.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI00207.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI06334.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/EB6I1021-Edit.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI06255.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="../../assets/images/wedding-portfolio/MKY00891-Edit.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI06029.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI00207.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI06334.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/EB6I1021-Edit.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI06255.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="../../assets/images/wedding-portfolio/MKY00891-Edit.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI06029.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI00207.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI06334.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/EB6I1021-Edit.jpg" style="width:100%">
      <img src="../../assets/images/wedding-portfolio/MKI06255.jpg" style="width:100%">
    </div>
  </div> -->
  