<div class="container">

    <div class="gallery-container w-3 h-2">
        <div class="gallery-item">
            <div class="image">
                <img src="http://source.unsplash.com/2048x1024/?art" alt="art">
            </div>
            <div class="text">Art</div>
        </div>
    </div>

    <div class="gallery-container w-4 h-2">
        <div class="gallery-item">
            <div class="image">
                <img src="http://source.unsplash.com/2048x1024/?people" alt="art">
            </div>
            <div class="text">People</div>
        </div>
    </div>

    <div class="gallery-container w-2 h-3">
        <div class="gallery-item">
            <div class="image">
                <img src="http://source.unsplash.com/2048x1024/?cars" alt="cars">
            </div>
            <div class="text">Cars</div>
        </div>
    </div>

    <div class="gallery-container w-5 h-1">
        <div class="gallery-item">
            <div class="image">
                <img src="http://source.unsplash.com/2048x1024/?travel" alt="travel">
            </div>
            <div class="text">Travel</div>
        </div>
    </div>

    <div class="gallery-container w-3 h-2">
        <div class="gallery-item">
            <div class="image">
                <img src="http://source.unsplash.com/2048x1024/?sport" alt="sport">
            </div>
            <div class="text">Sport</div>
        </div>
    </div>

    <div class="gallery-container w-1 h-2">
        <div class="gallery-item">
            <div class="image">
                <img src="http://source.unsplash.com/2048x1024/?nature" alt="nature">
            </div>
            <div class="text">Nature</div>
        </div>
    </div>

    <div class="gallery-container w-2 h-1">
        <div class="gallery-item">
            <div class="image">
                <img src="http://source.unsplash.com/2048x1024/?fitness" alt="fitness">
            </div>
            <div class="text">Fitness</div>
        </div>
    </div>


    <div class="gallery-container w-1 h-2">
        <div class="gallery-item">
            <div class="image">
                <img src="http://source.unsplash.com/2048x1024/?food" alt="food">
            </div>
            <div class="text">Food</div>
        </div>
    </div>
