
<div class="main-portfolio">

    <div class="card2">
    <div class="card2__title fs-700"><span>MULTIFAMILY</span></div>

    <div class="card2__body">
        <ul>
          <li><a class="link" href="">Emergency services </a></li>
          <li><a class="link" href="">Windows</a></li>
          <li><a class="link" href="">Roofing</a></li>
          <li><a class="link" href="">Siding</a></li>
          <li><a class="link" href="">Decks</a></li>
          <li><a class="link" href="">Painting</a></li>
          <li><a class="link" href="">Electrical</a></li>
          <li><a class="link" href="">Drywall</a></li>
        </ul>
      </div>
    </div>
    <div><p>Serving clients clients for apartments, condominiums, townhomes and single family homes.</p>
    <p>Our goal is focusing on clients needs and deliber results on time and on budget.</p></div>
<!-- <p><span >Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy&nbsp;nibh euismod.tation ullamcorper suscipit lobortis.</span></p> -->


<!-- <a href="#" class="buttonPortfolio">PORTFOLIO</a> -->

</div>


