

.content{
    height: 200vh;
    background-image: url(http://source.unsplash.com/2048x1024/?cars);
    background-color: #333;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
    width: auto;
}