@import "/src/styles.scss";

.masterContainer{
    height: 100vh;
    //border: 2px solid green;
}

.pageFrame{
    margin-top: 1rem;
    //border: 2px solid orange;
}

.navigationContainer{
      // border: 2px solid purple;
}

app-footer{
    display: block;
    position: absolute;
    bottom: 0;
    width: 100vw;
    margin: 0 auto;
 
}
