@import "/src/styles.scss";

body{
    margin-inline: auto;
}

.masterContainer{
    height: 100vh;
    border: 2px solid green;
}

app-footer{
    display: block;
    position: absolute;
    bottom: 0;
    width: 100vw;
    margin: 0 auto;
 
}
