<div class="flow">
   <div>Whether working professional or a student, a professional headshot or portrait will help show your confidence and convince those seeking your skills.</div> 
 
    <div>I can’t emphasize enough that headshot and portrait photography is not just about having a technically great image. It’s just as important that the images show true personality.</div> 

    <div>I can say that I specialize in providing individuals and professionals with fantastic portraits and headshots. However, it's best to let my work speak for what I do.</div> 
 </div>
    <a href="https://www.monkifoto.com/p/headshot-session.html">Click here to find out more information about the headshot and portrait sessions.</a>
    

    <div class="separator" style="clear: both; text-align: center;">
    <a href="https://www.monkifoto.com/2019/07/blog-post.html">SHPE</a> || 
    <a href="https://www.monkifoto.com/p/blog-page.html">ROBIN CHELL DESIGN</a> || 
    <a href="https://www.monkifoto.com/p/adc-headshots.html">ASSOCIATED VALLEY COUNCELING</a>  || 
    <a href="https://www.monkifoto.com/2019/07/lenovo-headshots.html">LENOVO</a>
    </div>

    <div class="flex">
    <img src="https://3.bp.blogspot.com/-LFjHqOVcRzw/WzgHR8pZPOI/AAAAAAAC4SE/Ljc59EaKmC8FwIsWSAWhcMCCojI3bsvPACLcBGAs/s1600/vlad200.jpg" />
    <img src="https://3.bp.blogspot.com/-whFU1u7HO3U/WzgDjp6vR2I/AAAAAAAC4Rg/IaG7Ax6JAuYg_z50NYd1pXpB_onr7p5qwCLcBGAs/s1600/Ioana2002.jpg" />
    </div>

    <div class="row">
      <div class="column" *ngFor="let row of images">
        <div  *ngFor="let img of row">
         <img  [src]="img" style="width: 100%;" alt=""> 
      </div>
      </div>  
   </div>
  