<div class="page_container">
    <div class="polaroid_container">
        <div class="polaroid polaroid_weddings">
            <a href="#" title="Weddings">
              <img height="400" src="../../../assets/images/wedding-portfolio/MKY01039-Edit.jpg" alt="Weddings" title="Weddings" />
            </a>
          </div>
        </div>
        <div class="quality">
            <h1>Quality Matters</h1>
            <p>We have the knowledge, experience, and equipment to capture high-quality photographs that are well-composed, in-focus, and properly exposed. 
                We can also work with lighting conditions, and different types of environments to create stunning images that capture the essence of the event.</p>
        </div>
        <div class="polaroid_container">
          <div class="polaroid polaroid_engagments">
            <a href="#" title="engagagement">
              <img height="400" src="../../../assets/images/wedding-portfolio/MKY01034-Edit.jpg" alt="engagagement" title="engagagement" />
            </a>
          </div>
        </div>
        <div class="polaroid_container">
          <div class="polaroid polaroid_corporate">
            <a href="#" title="corporate">
              <img height="400" src="../../../assets/images/wedding-portfolio/MKY09143-Edit.jpg" alt="corporate" title="corporate" />
            </a>
          </div>
        </div>
    

    <!-- <div class="page_info">
    
        <h2>There are several reasons why you should hire a professional photographer for events:</h2>

    <h3>Quality of Photos:</h3> Professional photographers have the knowledge, experience, and equipment to capture high-quality photographs that are well-composed, in-focus, and properly exposed. They can also work with lighting conditions, and different types of environments to create stunning images that capture the essence of the event.

    <h3>Professionalism:</h3> A professional photographer will be able to handle any situation that may arise during the event. They will be able to interact with the guests, work with other vendors, and make sure that everything runs smoothly.

    <h3>Creativity:</h3> Professional photographers can provide a creative and unique perspective that captures the mood and essence of the event. They can use various techniques and angles to create interesting and engaging photos.

    <h3>Experience:</h3> Professional photographers have the experience and knowledge to anticipate and capture important moments of the event. They understand the importance of capturing key moments and can ensure that they are captured in the best possible way.

    <h3>Post-Processing:</h3> Professional photographers can also provide post-processing services to enhance the quality of the photos. This can include color correction, cropping, and other techniques to make the photos look their best.

    Overall, hiring a professional photographer for events ensures that you will have high-quality photos that capture the essence of the event. They will be able to handle any situation that may arise, provide a unique perspective, and create images that you will treasure for years to come


    </div> -->
</div>