.page_container{
    display: flex;
    gap: 2rem;
    padding-inline: 0 auto;
}

.page_container{
    border: solid 1px red;
    padding: 2 rem;
}

.page_image{
    padding: 2rem;
    border: solid 1px green; 
}